<h1>Enter A New Word</h1>

<form  action="/new_word" method="post">
  <div class="form-group">
    <label for="word">Word</label>
    <br>
    <input type="text" name="word">
    <br>
    <label for="name">Actual Definition</label>
    <br>
    <textarea id="definition" name="definition" class="form-control" type="text" rows="5" cols="60">
    </textarea>
  </div>
  <button type="submit" class="btn" name="button">Create</button>
</form>
